# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore credentials and config files
config/credentials.py
config/*.ini
config/*.env

# Ignore virtual environment directories
venv/
env/
.venv/

# Do not ignore these specific directories within data
!data/historical_data/
!data/live_data/
!data/performance_data/

# Ignore all log files in the logs directory
logs/*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
