# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore credentials and config files
config/credentials.py
config/*.ini
config/*.env

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore data files
# data/historical_data/
# data/live_data/
# data/performance_data/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
